@model StandardWebsite.Models.SigninViewModel

@{
    Layout = "~/Views/Shared/_SigninLayout.cshtml";
    ViewBag.Title = "Sign in";
}

<div class="login-container">
    <div class="login-header bordered">
        <img alt="logo" src="~/Images/logo_signin.jpg" style="width:230px;" />
    </div>

    @using (Html.BeginForm("signin", "account", new { RedirectUrl = ViewBag.RedirectUrl }))
    {
        @Html.AntiForgeryToken()

        <div class="login-field">
            @Html.LabelFor(model => model.Username)
            @Html.TextBoxFor(model => model.Username, new { placeholder = "Username", autofocus = true })
            <i class="icon-user"></i>
            <span class="required">@Html.ValidationMessageFor(model => model.Username)</span>
        </div>

        <div class="login-field">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
            <i class="icon-lock"></i>
            <span class="required">@Html.ValidationMessageFor(model => model.Password)</span>
        </div>

        <div class="login-button clearfix">
            <label class="checkbox pull-left">
                <a href="@Url.Action("signup", "account")" role="button">Signup</a> |
                <a href="@Url.Action("resetpassword", "account")" role="button">Forgot password?</a>
            </label>

            <button type="submit" class="pull-right btn btn-large blue">
                SIGN IN <i class="icon-arrow-right"></i>
            </button>
        </div>
    }
</div>