@model StandardWebsite.Models.SigninViewModel

@{
    Layout = "~/Views/Shared/_SigninLayout.cshtml";
    ViewBag.Title = "Sign in";
}

<div class="login-container">
    <div class="login-header bordered">
        <img alt="logo" src="~/Images/logo_signin.jpg" style="width:230px;" />
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="login-field">
            @Html.LabelFor(model => model.Username)
            @Html.TextBoxFor(model => model.Username, new { placeholder = "Username" })
            <i class="icon-user"></i>
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="login-field">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
            <i class="icon-lock"></i>
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="login-button clearfix">
            <label class="checkbox pull-left">
                <a href="@Url.Action("signup", "account")" role="button" data-toggle="modal">Signup</a> |
                <a href="@Url.Action("resetpassword", "account")" role="button" data-toggle="modal">Forgot password?</a>
            </label>

            <button type="submit" class="pull-right btn btn-large blue">
                SIGN IN <i class="icon-arrow-right"></i>
            </button>
        </div>
    }
</div>

<div id="forgot-pw" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3>Forgot your password?</h3>
    </div>

    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <div class="form_row">
                    <label class="field_name">Email address</label>
                    <div class="field">
                        <div class="row-fluid">
                            <div class="span8">
                                <input type="text" class="span12" name="email" placeholder="example@domain.com">
                            </div>

                            <div class="span4">
                                <a href="#" class="btn btn-block blue">Reset password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>